<footer  class="  pt-4   fixed-bottom">
     <div class="container  footer"> 
        <div class="row g-5 d-flex justify-content-center align-items-center">
            <div class="col-md-4 pt-2">
                <div class="content">
                    <h3 class="fw-bold">LOCATION</h3>
                    <p class="mt-3">2215 John Daniel Drive</p>
                    <p class="mt-3">Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4 pt-2">
                <div class="content">
                    <h3  class="fw-bold">AROUND THE WEB</h3>
                <div class="icons d-flex justify-content-center align-items-center  mt-3">
                    <div class="icon mx-1"><i class="fa-brands fa-facebook"></i></div>
                    <div class="icon mx-1"><i class="fa-brands fa-twitter"></i></div>
                    <div class="icon mx-1"><i class="fa-brands fa-instagram"></i></div>
                    <div class="icon mx-1"><i class="fa-solid fa-globe"></i></div>
                </div>
                </div>
            </div>
            <div class="col-md-4 pt-2">
                <div class="content">
                    <h3  class="fw-bold">ABOUT FREELANCER</h3>
                    <p class="mt-3">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bg-black text-light text-center w-100  ">
        <div class="container d-flex justify-content-center align-items-center pt-3 ">
            <div  class="" >
                <p>Copyright © Your Website 2021</p>
            </div>
        </div>
    </div>

</footer> -->
