<section class="mt-5 pt-3 text-center   w-100">
   
    <div class="home d-flex justify-content-center align-items-center">
        <div class="content pt-5 text-center">
            <img src="./assets/images/avataaars.svg" alt="avataaars.svg" class="">
            <div class="text-center pt-4">

                <h2>START FRAMEWORK</h2>
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <div class="line me-3"></div>
                    <i class="fa-solid fa-star text-light me-3"></i>
                    <div class="line me-3"></div>

                </div>
            </div>
            <div>
                <p>Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    </div>
</section>
